# Zig Utilities
.zig-cache/
.zig-global-cache/
zig-out/

# Nix Utilities
flake.lock

# VS Code Setup
.vscode/
*.code-workspace
.devcontainer/devcontainer.env

# Project Specific
qemu.log
qemu.wav
*.raw

# MacOS
.DS_Store
